<div class="main_canvas">
  <img src="<%= image_path("logo.png") %>" alt="" class="_logo">
  <div class="_bottom_login">

	  <div id="content">
		<div align="center" id="content_name"></div>
	  </div>

    <% unless current_user %>
      <a href="<%= user_facebook_omniauth_authorize_path %>"  class="_login" >
        <img src="<%= image_path("facebook_login.png") %>" alt="">
      </a>
    <% else %>
      <!-- < % = current_user[:name] % > -->
      <a href="<%= destroy_user_session_path %>"  class="_logout" data-method="delete" >
        <img src="<%= image_path("logout.png") %>" alt="">
      </a>
      <a href="<%= profile_path %>" class="_story">
        <img src="<%= image_path("story.png") %>" alt="">
      </a>
    <% end %>

  </div>
</div>
